*{
  margin:0;
}

.background{
   background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(background/weather-3.jpg);
 
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  position: fixed;
    z-index:0;
    top: 0px;
    left: 0px;
    filter: blur(2px);
}

.sidebar{
  height:100%;
  width: 30rem; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: -425px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-x: hidden; 
  transition: 0.5s;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.sidebar-opened{
  left:0%;
}
.sidebar-elements{
  width:100%;
  display:flex;
  justify-content:center;
  position:relative;
  top:15%;
}
.sidebar::-webkit-scrollbar{
  display:none;
}
.sidebar .links{
  margin-left:auto;
  margin-right:auto;
  font-family: 'Roboto', sans-serif;
  text-decoration-color: none;
  
}

.sidebar a{
  text-decoration:none;
  
}
.hide{
  display:none;
}

.hamburger-container {
  margin-right:15px;
  margin-top: 15px;
  float: right;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  background-color:white;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.city_form_container{
  width:100%;
  position:relative;
}
.city-submit-form{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:30px;
}
.city_form_container .submit_city{
  width:35%;
  height:40px;
  font-size:20px;
  cursor: pointer;
  background-color:transparent;
  border:none;
  color:white;
  border-width: 1px;
  border-style:solid;
  border-radius:2px;
 
}
.city_input{
  background-color: transparent;
   border-top:none;
   border-right:none;
   border-left:none;
   font-size: 1rem;
  border-bottom: 1px solid white;
  padding: 1rem 0.7rem;
  outline: none;
  transition: 0.1s ease-out;
    font-family: 'IBM Plex Sans', sans-serif;
    caret-color:white;
    color:white;
}

#cities-header{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:1.5vmax;
  text-align:center;
  color:white;
}
.material-textfield {
  position: relative;  
}

.city_label {
  position: absolute;
  font-size: 1.3rem;
  left: 0;
  top: 30%;
  transform: translateY(50%);
  background:transparent;
  color: white;
  padding: 0 0.3rem;
  margin: 0 1.5rem;
  transition: .1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}


.city_input:focus + .city_label {
  top: 0;
  transform: translateY(-50%) scale(.9);

}
.city_input:not(:placeholder-shown) + .city_label {
  top: 0;
  
  transform: translateY(-50%) scale(.9);
}
.cities-container{
  position:absolute;
  top:20rem;
  left:0rem;
  width:100%;
}
.city-card{
  position:relative;
  font-family: 'Roboto', sans-serif;
  color:white;
  border-radius: 1px;
  border-width:2px;
  border-style:solid;
  margin-top:25px;
  transition:all 0.5s;
  cursor:pointer;
  
}
.remove-button{
  position:absolute;
  left:95%;
  top:3%;
  font-size:20px;
  width:20px;
  height:20px;
  float:right;
  padding:0;
  z-index:100;
  background:transparent;
  color:white;
  border:0px;
  cursor: pointer;
}
.card-enter {
  opacity: 0;
}
.card-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.city-id,.city-name,.city-temperature,.city-pressure,.city-wind,.city-humidity{
  font-family: 'Roboto', sans-serif;
  color:white;
}
.city-name{
  font-size:25px;
  text-align:center;
}

.city-pressure,.city-wind,.city-humidity{
 width:30%;
 margin:0;
 text-align:center;
 
}
.city-temperature{
  text-align:center;
  margin:20px 0px;
  font-size:25px;
}

.city-id{
 position:relative; 
  font-size:20px;
  width:5%;
  left:96%;
  
}
.city-card-info{
  display:block;
  padding:0px 10px 10px 10px;
  
}
.inline-city-information{
  display:inline-flex;
  width:100%;
  font-size:25px;
  justify-content:space-evenly;
  
}

.Info-screen{
  font-family: 'Roboto', sans-serif;
  z-index:2;
  position:relative;
  color:white;
  max-width:70%;
  height:95%;
  top:0rem;
  left:37rem;
  
}

.temperature-label,.wind-label,.humidity-label,.pressure-label{
  color:white;
}
.current-city-data{
  display:flex;
  flex-direction:column;
  gap:50px;
  background: rgba(255, 255, 255, 0.2);
  margin-top:30px;
  font-family:'IBM Plex Sans', sans-serif;
  width:100%;
  height:50%;
  border-radius: 5px;
}
.current-city-name{
  text-align:center;
  font-size:4vmax;
  font-weight: 400;
}
.current-date{
  position:relative;
  font-size:2vmax;
  top:1%;
  text-align:center;
}
.current-info-wrapper{
  display:flex;
  padding:10px;
  width:100%;
  justify-content:space-around;
  align-items:center;
}
.current-city-temp{
  text-align:center;
  font-size:4vmax;
  font-weight: 400;
}
.current-city-wind{
  font-size:2vmax;
}
.current-city-pressure{
  font-size:2vmax;
}
.current-city-humidity{
  font-size:2vmax;
}
.forecast-data{
  display:flex;
  margin-top:5%;
  color:white;
  justify-content:space-between;
  align-items:baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transition: height 0.5s;
}
.hidden-forecast {
  display:none;
  transition: height 0.5s;
}
.forecast-card{
  background: rgba(255, 255, 255, 0.2);
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
  border-radius:5px;
  width:15rem;
  color:white;
  transition:height 0.5s;
  
}
@keyframes appear{
0% {
  opacity:0;
}
100% {
opacity:100;
}
}

.forecast-inner-wrapper{
  display:flex;
  font-size:25px;
}
.forecast-inner-wrapper p {
  width:50%;
  margin:0px 10px;
  height:30px;
}
.forecast-info{
  font-family:'IBM Plex Sans', sans-serif;
  justify-content: center;
  align-items: center;
}
.forecast-date{
  text-align:center;
  font-size:2.5vmin;
  position:relative;
  top:10%;
}
.forecast-average-temp{
  position:relative;
  margin-top:1vw;
  font-size:3vmin;
  text-align:center;
}

.arrow-icon {
  position: relative;
  cursor: pointer;
  height:2em;
  margin: 20px auto 0 auto;
  width:5em;
  border-radius: 4px;
}
.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 2vw;
  height: 0.26vw;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius:2px;
}
.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 1.5vw;
  width: 2vw;
  height: 0.26vw;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius:2px;
}
.left-bar:after {
  content: "";
  background-color: white;
  width: 2vw;
  height: 0.26vw;
  display: block;
  float: right;
  border-radius:6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.right-bar:after {
  content: "";
  background-color: white;
  width: 2vw;
  height: 0.26vw;
  display: block;
  float: right;
  border-radius:6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.open .left-bar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .right-bar:after {
  transform-origin: center center;
  transform: rotate(70deg);
}
.forecast-by-time-box{
  transition: height 0.5s;
  color:white;
}
.city-input-error{
  position:relative;
  margin-top:10px;
  margin-left:30px;
  color:#ED4337;
  font-size:20px;
}
@media only screen and (max-width: 768px) {
  .forecast-date{
    font-size:3vmin;
  }
.temps-by-time{
font-size:3vmin;
margin-bottom:15px;
}
.time-for-temps{
  font-size:3vmin;
  margin-bottom:15px;
}
.forecast-by-time-box{
  top:15%;
}
  .opened-card{
    height:18em;
  }
  .arrow-icon{
    top:95%;
    left:45%;
  }
  
}